@font-face {
    font-family: Norse;
    src: url(Norse-Bold.otf);
  }

body {
    display: flex;
    margin: 0;
    /* height: 100vh; */
}
.background {
    padding-top: 250px;
    background-image: url("halie-west-unsplash.jpg");
    background-size: auto 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    /* width:clamp(300px, 37vw, 700px); */
    width: 37vw;
    color: white;
}

.logo-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.3);
    
}

img#odin-logo {
    height: auto;
    width: 100px;
}

h1.logo-text {
    font-family: Norse;
    font-size: 100px;
}